@mixin vexer-mathpathexer {

	/*
	* Vaadin provides an effective way of importing add-on themes but does not 
	* provide any automatic name-spacing. You should prefix all your 
	* rules with testexer to avoid any conflicts.
	*/

	/* GridLayOutille */
	.xcenter {
		display: block;
		width: 96%;
		margin-left: auto;
		margin-right: auto;
	}

	/* goalille ja startille */
	.not-pushable {

		border-style: solid !important;
		border-color: #001f3f !important;
		border-radius: 4px !important;
		border-width: 1px !important;
	}
	
	.vertical-center {
		position: absolute;
		margin-top: -10px;
		top: 50%;
		width: 100%;
    }

	/* startille ja checkatuille */
	.checked {
		width: 150px;
		height: 32px;
		font-size: 10pt;
		font-weight: normal;
		text-align: center;
		background-color: #003f7f !important;
		color: #ffffff;
	}

	.checked:selected .checked:pressed {
		background-color: #003f7f;
	}
	
	.checked:hover .checked:active {
		background-color: #003f7f;
	}

	/* goalille ja uncheckatuille */
	.unchecked {
		width: 150px;
		height: 32px;
		font-size: 10pt;
		font-weight: normal;
		text-align: center;
		background-color: #007fff !important;
		color: #ffffff;
	}

	.unchecked:selected .unchecked:pressed {
		background-color: #007fff;
	}
	
	.unchecked:hover .checked:active {
		background-color: #007fff;
	}
}
